<p>directives works!</p>
<div appCustomdirective color="red">
    <h2>Custom dirctives</h2>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, laudantium. Harum, quasi possimus sunt et labore numquam repudiandae impedit recusandae qui dolore ea saepe nisi eligendi dicta aperiam voluptate perferendis!</p>
<span appCustomdirective>span text</span>
<div appCustomdirective color="blue">my name is vaishnavi</div>
<div appCustomdirective color="green">i'm a software developer</div>
<br>
<br> 1.Scroll-to-top[directives]
<div appScrollToUp>


    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis provident dolorem praesentium explicabo eum similique consequatur veniam assumenda mollitia sequi reiciendis repudiandae iste expedita laborum accusantium inventore voluptate, dicta
            iure. Ipsa vel dicta tenetur ratione non! Odit nesciunt necessitatibus adipisci voluptatum incidunt nam eum quas similique quibusdam explicabo doloremque doloribus iusto aut deleniti, nobis labore ad atque cupiditate facilis. Eius. Voluptatum
            quod sed fugit dolorum quasi deleniti. Nesciunt mollitia quisquam iure eligendi in aut placeat, molestiae fugiat provident error fugit. Aliquid excepturi tempore laboriosam dolores quibusdam? Magnam provident dolore sapiente. Qui ullam esse
            sapiente praesentium id pariatur voluptatem omnis, eligendi beatae quia earum aliquid eaque nihil. Corporis reiciendis sapiente necessitatibus ipsa, ducimus nostrum saepe et, error quia itaque distinctio provident. Vitae inventore, eaque cumque
            neque provident nemo qui sunt! Voluptatem vitae maxime recusandae sed nisi quisquam quae laudantium accusamus voluptatibus aliquid labore ea odit, libero fugit consectetur laborum illum nihil. Voluptatibus, eius fugiat! Quaerat accusantium
            voluptate corrupti architecto ullam saepe iure rem atque, ipsam quod vel illum eius quam nam totam dignissimos quos expedita sapiente unde! Atque repellendus ab vero. Nesciunt iure sunt ut veritatis quidem illum ea magni, totam voluptatem
            excepturi similique aut explicabo quibusdam obcaecati vel magnam veniam porro eaque maiores a quas dignissimos dolor doloremque? Deleniti, similique. Sapiente, aliquid ipsum. Cumque illum nemo incidunt enim, similique error, voluptatem quam
            qui tenetur ducimus magnam sapiente sequi corrupti unde magni ipsa quia eos sunt aut corporis explicabo placeat omnis? Saepe cumque delectus ullam sequi vero magni assumenda, ipsum id temporibus sit nihil repellat culpa aliquid quaerat? Vitae
            corrupti, dicta doloribus, repellendus sit ipsum excepturi quos culpa assumenda at sunt? Fugiat, facere aliquid nostrum quasi iste culpa blanditiis odit facilis totam tempora corporis quos perspiciatis assumenda officiis sit delectus porro
            autem ullam sint hic? Doloremque, saepe! Quia nihil aliquid odit.</p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur aspernatur, illo recusandae, dolore ipsum iure earum, blanditiis numquam cupiditate inventore maxime! Est aspernatur harum iste vitae libero quae hic facere. Doloremque quae eius
            laboriosam perferendis praesentium. Totam animi consequatur hic quis quod! Cumque, perferendis tenetur quaerat dolore magni quod velit accusamus, cupiditate, repudiandae nesciunt pariatur enim ipsam consectetur error at!</p>
    </div>
    <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt incidunt consequuntur doloremque! Iure obcaecati quisquam vel nobis nisi. Impedit consequatur dolorem, laborum harum laudantium obcaecati excepturi magnam aliquam ea quas. Velit,
            et minus! Vitae aperiam minima quia voluptate commodi perspiciatis possimus adipisci necessitatibus numquam ea eveniet officiis, nisi repudiandae nihil quas quibusdam deserunt officia facere delectus ad minus. Deserunt, veritatis! Reprehenderit
            nesciunt optio doloribus culpa cum, ad delectus cumque omnis sequi excepturi ipsum, nisi alias totam sit expedita voluptates. Libero delectus minima, ab odit numquam quaerat ad illum inventore dolores! Obcaecati ducimus, architecto non nisi
            repellat explicabo nemo repudiandae illum maxime facere quaerat, maiores dicta minus eius possimus, vel quam in consequuntur tempore animi omnis quas ex recusandae quo! Ex! Laboriosam aliquam, vitae fugiat necessitatibus eligendi ipsum velit
            totam aperiam fuga quaerat excepturi nihil suscipit amet recusandae repellendus et officia sit, harum voluptatibus temporibus iste veniam nulla maxime. A, neque. Autem asperiores dignissimos quia adipisci, non quibusdam perferendis laudantium
            quos accusamus! Commodi, error molestiae tenetur, quaerat in sequi consectetur unde dolores velit recusandae repellendus. Impedit aliquid cum eius eum corrupti. Odio, illum a! Voluptatem accusamus nisi ipsa necessitatibus, fugiat voluptates
            qui aliquid corrupti quod repellendus aspernatur, aliquam veniam libero asperiores odio perferendis dicta repellat? Quas sit officiis eveniet numquam praesentium. Quia necessitatibus recusandae saepe iusto corporis. Rerum numquam explicabo
            maiores corporis, nisi nemo quia placeat? Repellat totam nobis aspernatur est iste natus veniam ut rem doloribus, dolores itaque libero consectetur. Magni, quibusdam. Ad nemo doloribus recusandae reiciendis mollitia eligendi obcaecati iusto
            eum asperiores consequatur! Aperiam accusantium quia quos. Animi perspiciatis deleniti doloribus cumque facere dignissimos et commodi debitis iste architecto. At soluta tempora molestias sed placeat facere ratione eveniet quibusdam molestiae
            temporibus deleniti quisquam, perspiciatis maiores itaque aut non quae et vitae tempore obcaecati, consequatur explicabo. Omnis vel eligendi eos? Cumque quod saepe officiis facere, commodi reprehenderit reiciendis qui error officia consequuntur
            dolor, optio magni mollitia ipsum aliquam obcaecati repudiandae fugit. Voluptates non voluptate neque, nisi iusto quae. Delectus, eos.</p>
    </div>
    <fa-icon [icon]="icon"></fa-icon>

</div>