<!-- <p>pipes works!</p>
<h4>Employee designation :{{employeeObj.designation |uppercase}}</h4>
<h4>companyname are as follows:{{employeeObj.companyname |lowercase}}</h4>
<h4>salary:{{employeeObj.salary | currency}}</h4>
<h4>salary in indian currency is {{employeeObj.salary |currency:'INR'}}</h4>
<h4>join date:{{joinDate |date}}</h4>
<h4>join date is {{joinDate | date:'shortDate'}}</h4>
<h4>join date is {{joinDate | date:'mediumDate'}}</h4>
<h4>join date is :{{joinDate |date:'dd/MM/yyyy'}}</h4>
 <h4>income {{income |number:'.1-1'}}</h4> -->
<!--<h4>total price is:{{totalprice |number '4.1-1'}}</h4> -->
<!-- <button type="btn" (click)="myfn()">SAVE</button><br>
<br>
<button type="btn" (click)="increment()">Increment</button> {{counter}}
<button type="decrement()">Decrement</button>
<h3 appCustomDirectivetwo>Custom Directive</h3> -->