<!-- <p>arithmaticoperation works!</p>
<input type="number" id="id1" name="num1" [(ngmodel)]="num1" placeholder="enter first number">
<input type="number" id="id2" name="num2" [(ngmodel)]="num2" placeholder="enter your second number">

<button type="button" (click)="calculatenum('add')">addition</button>
<button type="button" (click)="calculatenum('sub')">subustraction</button>
<button type="button" (click)="calculatenum('multi')">multiplication</button>
<button type="button" (click)="calculatenum('div')">division</button> -->