<!-- <h1>hello works</h1>
<app-login></app-login>
<app-data-binding></app-data-binding> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-event-ex></app-event-ex> -->
<!-- <app-arithmaticoperation></app-arithmaticoperation> -->
<!-- <app-directives></app-directives> -->
<!-- <app-otp></app-otp> -->
<!-- <app-dropdown-ex></app-dropdown-ex> -->
<!-- <app-templatr-driven-form></app-templatr-driven-form>
<app-template></app-template> -->
<!-- <app-template-using-ngmodel></app-template-using-ngmodel> -->